body {
  font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
  color: black;
  background-image: url("swirl.jpg");
  background-repeat: no-repeat;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #990000
}

img {
  border: 0;
}

td {
  text-align: center;
}

#content {
  padding: 1%;
}

#header {
  text-align: center;
}

#menu {
  padding: 1%;
  border: 1px dashed #000000;
  text-align: center;
  width: 90%;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

#main {
}


#donate {
  text-align: center;
}

#footer {
  text-align: center;
}
